body {
  font-family: Roboto, Arial, sans-serif;
  text-transform: none;
}
.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
.btn {
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 14px;
  padding-bottom: 14px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 7700;
  text-decoration: none;
  color: #fff;

  border-radius: 22px;
  border-width: 0px;
  background-image: -moz-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  box-shadow: 2px 2px 2px (85, 8, 0, 0.54);
}
.btn:hover,
.btn:focus {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}
.btn:active{
  background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}
.fon-1 {
  background-color: #849d8f;
}
.fon-2 {
  background-color: #8996a6;
}
.fon-3 {
  background-color: #9d8b84;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
  padding-left: -13px;
  padding-right: -13px;
}
.left-side {
  width: calc(100% / 4*3 - 26px);
}
.header .container {
  display: flex;
  justify-content: flex-start;
}
.header .logo {
  margin-top: 9px;
  margin-right: 16px;

  text-decoration: none;
}
.header .list-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 0;
  padding: 0;

  position: relative;

  list-style: none;
}
.header .item-menu {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  margin-top: 15px;
  padding: 7px 15px;
}
.header .item-menu:hover,
.header .item-menu:focus {
  background-color: #f7f6f3;
  border-radius: 20px;
}
.header .item-menu:hover .linck-item-menu,
.header .item-menu:focus .linck-item-menu {
  color: #333;
  border: none;
}
.header .item-menu:hover .list-sub-menu,
.header .item-menu:focus .list-sub-menu {
  display: block;
}
.header .item-menu:active {
  box-shadow: inset 0px 2px 1px #696969;
}
.header .linck-item-menu {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.header .list-sub-menu {
  display: none;

  margin: 0;
  padding: 0;

  position: absolute;
  top: 52px;
  left: 0;

  list-style: none;

  border-radius: 5px;
  background-color: #f8f7f4;
}
.header .item-sub-menu {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
}
.header .item-sub-menu:first-child {
  padding-top: 13px;
  padding-bottom: 12px;
  border-bottom: 1px solid #d1d0ce;
}
.header .item-sub-menu:last-child {
  padding-bottom: 13px;
}
.header .item-sub-menu:hover,
.header .item-sub-menu:focus {
  background-color: #fbded7;
}
.header .item-sub-menu:active {
  background-color: #f6b5a5;
}
.header .item-sub-menu:first-child .linck-sub-menu {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}
.header .item-sub-menu .linck-sub-menu {
  font-weight: 400;
  white-space: nowrap;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
}
.header .right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: calc(100% / 4 - 26px);

  padding-top: 24px;
}
.header .user-interface {
  display: flex;
  justify-content: flex-end;
}
.header .search {
  margin-right: 10px;

  position: relative;
}
.header .search-button {
  width: 35px;
  height: 35px;

  font-size: 0;

  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  background-position: center;
}
.header .search-button:hover,
.header .search-button:focus {
  background-color: #f8f7f4;
}
.header .search-button:hover path,
.header .search-button:focus path {
  fill: #080808;
}
.search-form {
  display: none;
  padding: 15px 20px;

  width: 342px;
  box-sizing: border-box;

  position: absolute;
  top: 40px;
  left: -880%;

  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}
.search-form input[type="text"]{
  padding: 14px 16px;

  width: 100%;
  box-sizing: border-box;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #999999;

  border-radius: 5px;
  border: 1px solid #d3d3d2;
}
.header .search:hover .search-form,
.header .search:focus .search-form {
  display: block;
}
.sign {
  margin-right: 10px;
  position: relative;
}
.header .sign-button {
  display: inline-block;

  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 42px;
  padding-right: 15px;
  position: relative;

  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  vertical-align: middle;

  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}
.img-sign {
  position: absolute;
  left: 11px;
  top: 7px;
}
.header .sign-button:hover,
.header .sign-button:focus {
  background-color: #f8f7f4;
  color: #080808;
}
.header .sign-button:hover polygon,
.header .sign-button:focus polygon {
  fill: #080808;
}
.header .sign-button:hover path,
.header .sign-button:focus path {
  fill: #080808;
}
.header .sign-form {
  display: none;
  padding: 20px;

  position: relative;

  width: 277px;
  box-sizing: border-box;

  position: absolute;
  top: 40px;
  left: -215%;

  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}
.sign-form input[type="email"],
.sign-form input[type="password"] {
  padding: 14px 16px;

  width: 100%;
  box-sizing: border-box;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #999999;

  border-radius: 5px;
  border: 1px solid #d3d3d2;
}
.sign-email,
.sign-pass {
  margin: 0;
  padding: 0;
}
.sign-submit {
  margin-top: 20px;
  padding: 13px 25px;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.link-user,
.link-check-in {
  display: block;
  margin-top: 6px;

  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #323232;
  text-decoration: none;

  border-bottom: 1px solid #adacaa;
}
.sing-user {
  position: absolute;
  top: 131px;
  left: 141px;
}
.header .sign:hover .sign-form {
  display: block;
}
.basket {
  display: inline-block;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 45px;
  padding-right: 34px;
  position: relative;

  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  vertical-align: bottom;

  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}
.img-basket {
  position: absolute;
  left: 14px;
  top: 6px;

}
.basket:hover,
.basket:focus {
  background-color: #f8f7f4;
  color: #080808;
}
.basket:hover path,
.basket:focus path {
  fill: #080808;
}
.basket:hover circle,
.basket:focus circle {
  fill: #080808;
}
.contact-header{
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin: 0;
  margin-top: 18px;
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}
.contact-tel {
  font-size: 22px;
  line-height: 24px;
}
