
body {
  min-width: 900px;
  font-family: Roboto, Arial, sans-serif;
  text-transform: none;
}
.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margpx;
	padding: 0;
	border: 0;
}
.btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 7700;
  text-decoration: none;
  color: #fff;

  border-width: 0px;
  background-image: -moz-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  box-shadow: 2px 2px 2px (85, 8, 0, 0.54);
}
.btn:hover,
.btn:focus {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}
.btn:active{
  background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}
.fon-1 {
  background-color: #849d8f;
}
.fon-2 {
  background-color: #8996a6;
}
.fon-3 {
  background-color: #9d8b84;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 26px;
  padding-right: 26px;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-left: -13px;
  margin-right: -13px;
}
.header {
  position: relative;
  z-index: 1;
}
.left-side {
  width: 600px;
  margin-left: 13px;
  margin-right: 13px;
}
.header .container {
  display: flex;
  justify-content: flex-start;
}
.header .logo {
  margin-top: 9px;
  margin-right: 10px;

  text-decoration: none;
}
.header .list-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 0;
  margin-top: 30px;
  padding: 0;

  position: relative;

  list-style: none;
}
.header .item-menu {
  margin: 0;
  padding: 0;
}
.header .linck-item-menu {
  margin-left: 15px;
  margin-right: 27px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.header .linck-item-menu:hover,
.header .linck-item-menu:focus {
  margin-left: 0;
  margin-right: 12px;
  padding: 7px 15px;

  color: #333;
  border: none;

  background-color: #f7f6f3;
  border-radius: 20px;
}
.header .linck-item-menu:active {
  border-radius: 20px;
  box-shadow: inset 0px 2px 1px #696969;
}
.header .item-menu:hover .list-sub-menu,
.header .item-menu:focus .list-sub-menu {
  display: block;
}
.header .list-sub-menu {
  display: none;

  margin: 0;
  padding: 0;

  position: absolute;
  top: 33px;
  left: 0;

  list-style: none;

  border-radius: 5px;
  background-color: #f8f7f4;
}
.header .item-sub-menu {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
}
.header .item-sub-menu:first-child {
  padding-top: 13px;
  padding-bottom: 12px;
  border-bottom: 1px solid #d1d0ce;
}
.header .item-sub-menu:last-child {
  padding-bottom: 13px;
}
.header .item-sub-menu:hover,
.header .item-sub-menu:focus {
  background-color: #fbded7;
}
.header .item-sub-menu:active {
  background-color: #f6b5a5;
}
.header .item-sub-menu:first-child .linck-sub-menu {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}
.header .item-sub-menu .linck-sub-menu {
  font-weight: 400;
  white-space: nowrap;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
}
.header .right-side {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 267px;
  margin-left: 13px;
  margin-right: 13px;
  padding-top: 24px;
}
.header .user-interface {
  display: flex;
  justify-content: flex-end;
}
.header .search {
  margin-right: 10px;

  position: relative;
}
.header .search-button {
  width: 35px;
  height: 35px;

  font-size: 0;

  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  background-position: center;
}
.header .search-button:hover,
.header .search-button:focus {
  background-color: #f8f7f4;
}
.header .search-button:hover path,
.header .search-button:focus path {
  fill: #080808;
}
.header .search-form {
  display: none;
  padding: 15px 20px;

  width: 342px;
  box-sizing: border-box;

  position: absolute;
  top: 40px;
  left: -880%;

  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}
.header .search-form input[type="text"]{
  padding: 14px 16px;

  width: 100%;
  box-sizing: border-box;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #999999;

  border-radius: 5px;
  border: 1px solid #d3d3d2;
}
.header .search:hover .search-form,
.header .search:focus .search-form {
  display: block;
}
.header .sign {
  margin-right: 10px;
  position: relative;
}
.header .sign-button {
  display: inline-block;

  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 42px;
  padding-right: 15px;
  position: relative;

  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  vertical-align: middle;

  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}
.header .img-sign {
  position: absolute;
  left: 11px;
  top: 7px;
}
.header .sign-button:hover,
.header .sign-button:focus {
  background-color: #f8f7f4;
  color: #080808;
}
.header .sign-button:hover polygon,
.header .sign-button:focus polygon {
  fill: #080808;
}
.header .sign-button:hover path,
.header .sign-button:focus path {
  fill: #080808;
}
.header .sign-form {
  display: none;
  padding: 20px;

  position: relative;

  width: 277px;
  box-sizing: border-box;

  position: absolute;
  top: 40px;
  left: -215%;

  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}
.header .sign-form input[type="email"],
.header .sign-form input[type="password"] {
  padding: 14px 16px;

  width: 100%;
  box-sizing: border-box;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #999999;

  border-radius: 5px;
  border: 1px solid #d3d3d2;
}
.header .sign-email,
.header .sign-pass {
  margin: 0;
  padding: 0;
}
.header .sign-submit {
  margin-top: 20px;
  padding: 13px 25px;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 25px;
}
.header .sing-user {
  position: absolute;
  top: 131px;
  left: 141px;
}
.header .link-user,
.header .link-check-in {
  margin-top: 6px;

  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #323232;
  text-decoration: none;

  border-bottom: 1px solid #adacaa;
}
.header .link-user:hover,
.header .link-user:focus,
.header .link-user:active,
.header .link-check-in:hover,
.header .link-check-in:focus,
.header .link-check-in:active {
  color: #e84d37;
  border-color: #f9cdc4;
}
.header .sign:hover .sign-form {
  display: block;
}
.header .basket {
  display: inline-block;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 45px;
  padding-right: 34px;
  position: relative;

  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  vertical-align: bottom;

  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}
.header .img-basket {
  position: absolute;
  left: 14px;
  top: 6px;
}
.header .basket:hover,
.header .basket:focus {
  background-color: #f8f7f4;
  color: #080808;
}
.header .basket:hover path,
.header .basket:focus path {
  fill: #080808;
}
.header .basket:hover circle,
.header .basket:focus circle {
  fill: #080808;
}
.header .contact-header{
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin: 0;
  margin-top: 18px;
  margin-left: auto;
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}
.header .contact-tel {
  font-size: 22px;
  line-height: 24px;
}
.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  margin: 0 auto;
  margin-top: -120px;
  padding: 0;

  width: 100%;
}
.slider .list-sliders {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}
.slider .item-slide {
  position: relative;
}
.slider .slide-2,
.slider .slide-3 {
  display: none;
}
.name-slide {
  width: 670px;

  position: absolute;
  top: 45%;
  left: 19%;

  margin: 0;
  padding: 0;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.both-slide {
  padding: 11px 41px;

  position: absolute;
  top: 62%;
  left: 38%;

  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #fff;
  text-align: center;

  border-radius: 50px;
}
.list-button-slide {
  display: flex;

  position: absolute;
  top: 65%;
  left: 0%;

  margin: 0;
  padding: 0;

  list-style: none;
}
.item-button-slide {
  margin-right: 8px;

  width: 19px;
  height: 19px;

  border-radius: 50%;
  border: 2px solid #fff;
}
.item-button-slide.active {
  background-color: #fff;
}
.button-none {
  display: none;
}
.sentence {
  margin-top: -234px;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}
.sentence .list-sentences {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}
.sentence .item-sentence {
  padding: 23px 20px;
  padding-bottom: 26px;

  width: calc(100%/2 - 13px);
  box-sizing: border-box;

  border-radius: 20px;
  background-color: #b52a56;
  background-image: url('../img/raspberries.png');
  background-repeat: no-repeat;
}

.sentence .item-sentence:last-child {
  background-image: url('../img/chokolate.png');
  background-repeat: no-repeat;
}
.sentence .name-sentence {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #fff;
}
.sentence .description-sentence {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #fff;
}
.sentence .add-filler {
  margin-left: 63%;
  padding: 13px 22px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  border-radius: 50px;
}
.catalog .list-products {
  margin: 0px;
  padding: 0px;

  list-style: none;
}
.catalog .item-product {
  width: calc(100% / 4 - 26px);
  margin: 0;
  margin-right: 13px;
  margin-left: 13px;
}
.catalog .product {
  position: relative;
  margin-left: -13px;
  margin-right: -13px;
  padding-bottom: 17px;
  padding-left: 13px;
  padding-right: 13px;
  box-sizing: border-box;
}
.catalog .product:hover {
  margin-bottom: -70px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}
.catalog .product:hover .Quick-View {
  display: block;
}
.catalog .product:hover .product-name {
  border-bottom: 1px solid transparent;
}
.catalog .product-status {
  display: block;

  position: absolute;
  top: 10px;
  left: 13px;

  width: 61px;
  height: 61px;

  font-size: 0;

  border-radius: 50%;

  background-image: url('../img/hit.svg');
  background-repeat: no-repeat;

  z-index: 2;
}
.catalog .link-img-product {
  text-decoration: none;
}
.catalog .img-product {
  width: 100%;
  margin-top: 6px;
  margin-bottom: 15px;

  border-radius: 50%;
  z-index: 1;
}
.catalog .product-prise {
  position: absolute;
  top: 220px;
  left: 13px;

  margin: 0;
  padding: 0;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 3px #313235;

  z-index: 2;
}
.catalog .product-units {
  font-size: 30px;
}
.catalog .link-product-name {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
}
.catalog .link-product-name:hover .product-name,
.catalog .link-product-name:focus .product-name,
.catalog .link-product-name:active .product-name {
  color: rgb(255, 188, 158);
  border-bottom: 1px solid rgba(255, 188, 158, 0.5);
}
.catalog .product-name {
  display: inline;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;

  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.catalog .Quick-View  {
  display: none;
  margin-top: 17px;
  margin-left: 33px;
  margin-right: 33px;
  padding: 14px 17px;

  font-weight: 700;

  border-radius: 50px;
}
.advantage {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 27px;
  padding-left: 20px;
  box-sizing: border-box;

  border-radius: 20px;
  background-image: url('../img/Layer0.png');
  background-repeat: repeat-x;
}
.advantage .name-advantage {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}
.advantage .list-advantage {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}
.advantage .item-advantage {
  position: relative;
  margin: 0;
  margin-right: 0px;
  padding-left: 58px;

  box-sizing: border-box;

  width: calc(100% / 2 - 13px);
}
.advantage .item-advantage::before {
  display: inline-block;
  position: absolute;
  left: 0;
  content: ' ';
  width: 49px;
  height: 49px;

  background-image: url('../img/leaf.svg');
  background-repeat: no-repeat;
}
.advantage .item-advantage:first-child::before {
  display: inline-block;
  content: ' ';
  width: 49px;
  height: 49px;

  background-image: url('../img/iscream.svg');
  background-repeat: no-repeat;
}
.advantage .item-advantage:last-child::before {
  display: inline-block;
  content: ' ';
  width: 49px;
  height: 49px;

  background-image: url('../img/thermometer.svg');
  background-repeat: no-repeat;
}
.advantage .item-advantage:nth-last-child(3)::before {
  display: inline-block;
  content: ' ';
  width: 49px;
  height: 49px;

  background-image: url('../img/cow.svg');
  background-repeat: no-repeat;
}
.advantage .advantage-description {
  display: inline-block;
  margin: 0px;
  margin-top: 15px;
  padding: 0px;

  font-size: 16px;
  line-height: 22px;
  color: #323232;
}
.blog {
  margin-left: 13px;
  padding-left: 21px;
  padding-top: 22px;
  padding-bottom: 85px;
  padding-right: 254px;
  box-sizing: border-box;

  width: calc(100% / 2 - 26px);

  border-radius: 20px;
  background-image: url('../img/Strawberry.jpg');
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 17% 40%;
}
.blog .name-blog {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}
.blog .link-blog {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: none;

  border-bottom: 2px solid #323232;
}
.subscription {
  margin-right: 13px;
  width: calc(100% / 2 - 26px);
  box-sizing: border-box;

  background-color: #f8f7f4;
  border: 7px solid rgba(0, 0, 0, 0.4);
  border-image-source: url('../img/border.jpg');
  border-image-slice: 5.5;
  border-image-repeat: repeat repeat;
}

.subscription .subscription-user {
  padding: 21px 31px;
}
.subscription .desctiption-subscription {
  margin: 0;
  margin-bottom: 36px;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
}
.subscription input[type="email"] {
  padding: 14px;
  width: 65%;

  border-radius: 5px;
  border: 1px solid #d3d3d2;

  font-size: 16px;
  line-height: 24px;
  color: #999999;
}
.subscription .subscription-dispatch {
  margin-left: 10px;
  padding: 14px 20px;
  font-weight: 700;
  border-radius: 50px;
}
.map {
  position: relative;
  margin-top: 40px;

}
.map .map-img {
  margin-left: auto;
  margin-right: auto;
}
.map .contact-information {
  padding: 25px 30px;
  position: absolute;
  top: 100px;
  right: 26px;

  border-radius: 20px;
  background-color: #fefefe;
}
.map .info-map {
  box-sizing: border-box;
  width: 230px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.map .important-text {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
.map .address {
  margin-bottom: 22px;
}
.map .tel {
  margin-top: 5px;
  margin-bottom: 5px;
}
.map .map-feedback {
  padding: 14px 28px;
  border-radius: 50px;
}
.map .iscream-map {
  position: absolute;
  top: 300px;
  left: 60px;
}
.footer {
  padding-left: 13px;
  padding-right: 13px;
  padding-top:18px;
  padding-bottom: 25px;
}
.footer .social-list {
  display: flex;
  align-items: center;

  width: calc(100% / 4 - 26px);

  margin: 0;
  padding: 0;

  list-style: none;
}
.footer .social-item {
  margin-right: 11px;
}
.footer .tweeter::before {
  display: block;
  content: '';

  width: 32px;
  height: 32px;

  opacity: 0.8;

  border-radius: 50%;
  border: 3px solid #c2cec7;
  background-image: url('../img/tweeter.svg');
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
}
.footer .instagram::before {
  display: block;
  content: '';

  width: 32px;
  height: 32px;

  opacity: 0.8;

  border-radius: 50%;
  border: 3px solid #c2cec7;
  background-image: url('../img/instagramm.svg');
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
}
.footer .fasebook::before {
  display: block;
  content: '';

  width: 32px;
  height: 32px;

  opacity: 0.8;

  border-radius: 50%;
  border: 3px solid #c2cec7;
  background-image: url('../img/fasebook.svg');
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
}
.footer .vk::before {
  display: block;
  content: '';

  width: 32px;
  height: 32px;

  opacity: 0.8;

  border-radius: 50%;
  border: 3px solid #c2cec7;
  background-image: url('../img/vk.svg');
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
}
.footer .list-menu {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  width: calc(100% / 4*2 - 26px);
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  list-style: none;

  padding-left: 100px;
  padding-right: 118px;
}
.footer .menu-item {
  margin: 0;
  margin-right: 23px;
}
.footer .menu-item:first-child::before{
  display: inline-block;
  content: '';
  position: absolute;
  left: 80px;

  width: 16px;
  height: 16px;

  background-image: url('../img/hard.svg');
  background-repeat: no-repeat;
}
.footer  .menu-link {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.footer .like {
  font-weight: 700;
}
.footer .copyright {
  margin: 0px;
  padding: 0px;

  width: calc(100% / 4 - 26px);
}
.footer .img-logo-footer {

  width: 115px;
  height: 45px;
}
.footer .link-copyright {
  color: #fff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.footer .text-copyright {
  margin: 0;
  padding: 0;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
}
.feedback {
  display: none;

  padding-left: 25px;
  padding-top: 18px;

  width: 477px;

  border-radius: 20px;
  background-color: #f8f7f4;
}

.feedback-slogan {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.close-up {

}

.close-up::before {
  display: block;
  content: '';

  width: 25px;
  height: 25px;

  background-image: url('../img/Ð¥-big.svg');
  background-repeat: no-repeat;
}
