body {
  font-family: Roboto, Arial, sans-serif;
  text-transform: none;
}
.fon-1 {
  background-color: #849d8f;
}
.fon-2 {
  background-color: #8996a6;
}
.fon-3 {
  background-color: #9d8b84;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
  padding-left: -13px;
  padding-right: -13px;
}
.left-side {
  width: calc(100% / 4*3 - 26px);
}
.header .container {
  display: flex;
  justify-content: flex-start;
}
.header .logo {
  margin-top: 9px;
  margin-right: 16px;

  text-decoration: none;
}
.header .list-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 0;
  padding: 0;

  position: relative;

  list-style: none;
}
.header .item-menu {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  margin-top: 15px;
  padding: 7px 15px;
}
.header .item-menu:hover,
.header .item-menu:focus {
  background-color: #f7f6f3;
  border-radius: 20px;
}
.header .item-menu:hover .linck-item-menu,
.header .item-menu:focus .linck-item-menu {
  color: #333;
  border: none;
}
.header .item-menu:hover .list-sub-menu,
.header .item-menu:focus .list-sub-menu {
  display: block;
}
.header .item-menu:active {
  box-shadow: inset 0px 2px 1px #696969;
}
.header .linck-item-menu {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.header .list-sub-menu {
  display: none;

  margin: 0;
  padding: 0;

  position: absolute;
  top: 52px;
  left: 0;

  list-style: none;

  border-radius: 5px;
  background-color: #f8f7f4;
}
.header .item-sub-menu {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
}
.header .item-sub-menu:first-child {
  padding-top: 13px;
  padding-bottom: 12px;
  border-bottom: 1px solid #d1d0ce;
}
.header .item-sub-menu:last-child {
  padding-bottom: 13px;
}
.header .item-sub-menu:hover,
.header .item-sub-menu:focus {
  background-color: #fbded7;
}
.header .item-sub-menu:active {
  background-color: #f6b5a5;
}
.header .item-sub-menu:first-child .linck-sub-menu {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}
.header .item-sub-menu .linck-sub-menu {
  font-weight: 400;
  white-space: nowrap;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
}
.header .right-side {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: calc(100% / 4 - 26px);

  padding-top: 24px;
}
.header .search {
  margin-right: 10px;
}
.header .search-button {
  width: 35px;
  height: 35px;

  font-size: 0;

  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  background-position: center;
}
.header .search-button:hover,
.header .search-button:focus {
  background-color: #f8f7f4;
}
.header .search-button:hover path,
.header .search-button:focus path {
  fill: #080808;
}
.search-form {
  display: none;
}
.sign .sign-form {
  display: none;
}
.sign {
  margin-right: 10px;
}
.header .sign-button {
  display: inline-block;

  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 42px;
  padding-right: 15px;
  position: relative;

  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  vertical-align: middle;

  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}
.img-sign {
  position: absolute;
  left: 11px;
  top: 7px;
}
.header .sign-button:hover,
.header .sign-button:focus {
  background-color: #f8f7f4;
  color: #080808;
}
.header .sign-button:hover polygon,
.header .sign-button:focus polygon {
  fill: #080808;
}
.header .sign-button:hover path,
.header .sign-button:focus path {
  fill: #080808;
}
.basket {
  display: inline-block;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 45px;
  padding-right: 34px;
  position: relative;

  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  vertical-align: bottom;

  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}
.img-basket {
  position: absolute;
  left: 14px;
  top: 6px;

}
.basket:hover,
.basket:focus {
  background-color: #f8f7f4;
  color: #080808;
}
.basket:hover path,
.basket:focus path {
  fill: #080808;
}
.basket:hover circle,
.basket:focus circle {
  fill: #080808;
}
.contact-header{
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin: 0;
  margin-top: 18px;
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}
.contact-tel {
  font-size: 22px;
  line-height: 24px;
}
